@media (max-width: 991px) {
    .container{
        max-width: 800px;
    }
}

@media (max-width: 768px) {
    .container{
        max-width: 650px;
    }
    .header{
        &__logo{
            width: 200px;
        }
        &__official{
            font-size: 10px;
            span{
                font-size: 16px;
            }
        }
        &__phone{
            font-size: 16px;
        }
    }
    .promo{
        &__header{
            font-size: 38px;
        }
        &__subheader{
            font-size: 20px;
        }
        &__link{
            font-size: 14px;
            a{
                font-size: 14px;
            }
        }
    }
    .button{
        &_main{
            width: 280px;
        }
    }
    .advantages{
        &__item{
            width: 180px;
            font-size: 13px;
            span{
                font-size: 16px;
            }
            a{
                font-size: 12px;
            }
        }
    }
    .title{
        font-size: 28px;
        &_left{
            font-size: 28px;
        }
    }
    .carousel{
        &__inner{
            width: 600px;
        }
        .slick-slide{
            img{
                width: 600px;
            }
        }
    }
    .catalog{
        &__tab{
            div{
                font-size: 14px;
            }
        }
    }
}
@media (max-width: 575px) {
    .header{
        &_logo{
            margin-right: 10px;
            img{
                width: 100%;
            }
        }
        &__official{
            display:none;
        }
        &__phone{
            font-size: 12px;
        }
    }
    .button{
        width: 120px;
        height: 25px;
        font-size: 10px;
        &_main {
            width: 150px;
        }
        &_submit{
            font-size: 7px;
        }
        &_mini{
            width: 90px;
        }
    }
    .promo{
        min-height: 560px;
        &__wrapper{
            margin-top: 50px;   
            align-items: center;
        }
        &__header{
            font-size: 14px;
        }
        &__subheader{
            font-size: 10px;
            margin-top: 0;
        }
        &__icons{
            margin-top: 30px;
            width: 100%;
        }
        &__icon{
            font-size: 12px;
        }
        &__link{
            font-size: 10px;
            a{
                font-size: 10px;
            }
        }
    }
    .advantages{
        &__wrapper{
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
        &__item{
            margin-bottom: 25px;
            font-size: 10px;
            span{
                font-size: 13px;
            }
            img{
                margin-bottom: 20px;
            }
            a{
                font-size: 10px;
            }
        }
    }
    .title{
        font-size: 14px;
        &_left{
            font-size: 14px;
            text-align: center;
        }
    }
    .consultation{
        min-height: 560px;
        padding-top: 60px;
        &__desc{
            text-align: center;
            font-size: 12px;
            margin-top: 40px;
        }
    }
    .feed-form{
        width: 200px;
        margin-left: 15px;
        align-items: center;
        input{
            height: 40px;
            font-size: 11px;
        }
    }
    .carousel{
        &__inner{
            width: 320px;
        }
        .slick-slide{
            img{
                width: 320px;
            }
        }
    }
    .catalog{
        &__content{
            flex-direction: column;
            align-content: center;
        }
        &__tabs{
            margin-top: 50px;
        }
        &__tab{
            width: 75px;
            height: 25px;
            div{
                font-size: 8px;
                line-height: 24px;
            }
        }
        &-item{
            width: 250px;
            &__img{
                height: 150px;
            }
            &__descr{
                margin-top: 10px;
                font-size: 12px;
            }
            &__link{
                font-size: 12px;
            }
            &__subtitle{
                font-size: 14px;
            }
            &__list{
                li{
                    font-size: 12px;
                }
            }
            &__old-price{
                font-size: 12px;
            }
            &__price{
                font-size: 16px;
            }

        }
    }
    .feedback{
        &__item{
            flex-direction: column;
            padding: 0 20px;
            text-align: center;
            margin-bottom: 50px;
        }
        &__img{
            width: 100px;
            height: 100px;
            margin-right: 0;
            display: block;
            margin: 0 auto;
        }
        &__text{
            text-align:left;
            font-size: 12px;
            margin-top: 10px;
        }
        &__title{
            font-size: 14px;
            margin-top: 10px;
        }
        &__subtitle{
            font-size: 10px;
            margin-top: 5px;
        }
    }
}